<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset="utf-8">
	<title>Biblioteca</title>
</head>
<body style='background-color: rgb(43, 43, 43);'>
    <h1 style="color: rgb(10, 85, 36);">{{titulo}}</h1>
    <img src="{{miniatura}}" alt="Portada">
    <section>    
        <p style="color: rgb(10, 85, 36);"><strong>Este libro contiene...</strong></p>
        <ul style="color: rgb(10, 85, 36);">
            <li style="color: rgb(10, 85, 36);"><strong>Nº de páginas:</strong> <i>{{num}}</i></li>
            <li style="color: rgb(10, 85, 36);"><strong>Descripción:</strong> <i>{{desc}}</i></li>
            <li style="color: rgb(10, 85, 36);"><strong>Autor/es:</strong></li> 
            {% for i in autor -%}
                <ol>
                <li><i>{{i}}</i></li>
                </ol>
            {% endfor -%}
            
            <li style="color: rgb(10, 85, 36);"><strong>Categorías:</strong> <i>{{cate}}</i></li>
        </ul>        
    </section>
</body>
</html>