<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset="utf-8">
	<title>Biblioteca</title>
</head>
<body style='background-color: rgb(43, 43, 43);'>
    <h1 style="color: rgb(10, 85, 36);">{{titulo}}</h1>
    <img src="{{miniatura}}" alt="Portada">
    <section>    
        <p style="color: rgb(10, 85, 36);"><strong>Este libro contiene:</strong></p>
        <ul style="color: rgb(10, 85, 36);">
            <li style="color: rgb(10, 85, 36);">Nº de páginas: {{num}}</li>
            <li style="color: rgb(10, 85, 36);">Descripción: {{desc}}</li>
            <li style="color: rgb(10, 85, 36);">Autor/es: {{autor}}</li>
            <li style="color: rgb(10, 85, 36);">Categorías: {{cate}}</li>
        </ul>        
    </section>
</body>
</html>