<!DOCTYPE html>
<html lang='es'>
<head>
	<meta charset="utf-8">
	<title>Biblioteca</title>
</head>
<body style='background-color: black;'>
    <h1 style="color: rgb(163, 0, 0);">El archivo digital de Carlos Rivero</h1>
    <section>
    <h2 style="color: rgb(163, 0, 0)">Enlaces</h2>
    <ul>
        {% for i in documento -%}
            <li><a href='/libro/{{i.isbn}}' style="color: rgb(163, 0, 0);">{{loop.index}} - {{i.title}} </a></li>
        {% endfor -%}
    </ul>
    </section>
</body>
</html>